n8n/like-recipe (toggle).json
{
  "name": "like-recipe (toggle)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "like-recipe",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1248,
        192
      ],
      "id": "8274d21d-6eb5-4a87-89fd-6e5e9ee1561a",
      "name": "Webhook",
      "webhookId": "428cd804-cfe8-455c-ac7d-58f11d9abbe1"
    },
    {
      "parameters": {
        "jsCode": "// Body aus dem Webhook holen\nconst body = $json.body ?? {};\nconst errors = [];\n\nconst recipeId = body.recipeId;\nconst userId = body.userId;\n\n// Firestore-Auto-IDs = 20 Zeichen alphanumerisch.\n// Die Regex schliesst \"/\" und \"..\" aus -> keine Path-Injection moeglich.\nif (typeof recipeId !== 'string' || !/^[A-Za-z0-9]{20}$/.test(recipeId)) {\n  errors.push('recipeId fehlt oder hat ungueltiges Format');\n}\n\n// userId kommt vom Client (z.B. crypto.randomUUID() im localStorage).\n// Gleiche Absicherung: nur unbedenkliche Zeichen erlauben.\nif (typeof userId !== 'string' || !/^[A-Za-z0-9_-]{8,64}$/.test(userId)) {\n  errors.push('userId fehlt oder hat ungueltiges Format');\n}\n\nif (errors.length) {\n  return [{ json: { valid: false, errors } }];\n}\nreturn [{ json: { valid: true, recipeId, userId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        192
      ],
      "id": "496ec4bf-cce5-4802-96cb-9d47f2e5a526",
      "name": "Like validieren"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "805a2acf-bd7c-44db-ac0e-327f92455dbf",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -832,
        192
      ],
      "id": "8c01870d-4839-4068-900e-7a10771de197",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ errors: $json.errors }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -624,
        320
      ],
      "id": "56d9feb2-5140-49a4-922b-c19eba5f63d2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "=https://firestore.googleapis.com/v1/projects/code-a-cuisine-9c87f/databases/(default)/documents/recipes/{{ $json.recipeId }}/likes/{{ $json.userId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -624,
        96
      ],
      "id": "bb5380c3-ae9c-45a8-bb44-e93c2da01a77",
      "name": "Like-Status lesen",
      "credentials": {
        "googleApi": {
          "id": "cdvoQV6M9dZLN3MF",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { recipeId, userId } = $('Like validieren').first().json;\n\nconst base = 'projects/code-a-cuisine-9c87f/databases/(default)/documents';\nconst likeDoc = `${base}/recipes/${recipeId}/likes/${userId}`;\nconst recipeDoc = `${base}/recipes/${recipeId}`;\n\n// 200 = Like-Dokument existiert bereits -> Unlike\n// 404 = noch kein Like -> Like setzen\nconst alreadyLiked = $json.statusCode === 200;\nconst delta = alreadyLiked ? '-1' : '1';\n\n// Zaehler auf dem Rezept atomar aendern\nconst counterWrite = {\n  update: { name: recipeDoc, fields: {} },\n  updateMask: { fieldPaths: [] },            // leere Maske = kein Feld ueberschreiben\n  updateTransforms: [{\n    fieldPath: 'likes',\n    increment: { integerValue: delta }\n  }],\n  currentDocument: { exists: true }          // nur wenn das Rezept existiert\n};\n\n// Like-Dokument anlegen bzw. loeschen.\n// Die Preconditions verhindern doppeltes Zaehlen bei Doppelklick/Race.\nconst likeWrite = alreadyLiked\n  ? {\n      delete: likeDoc,\n      currentDocument: { exists: true }\n    }\n  : {\n      update: {\n        name: likeDoc,\n        fields: { createdAt: { timestampValue: new Date().toISOString() } }\n      },\n      currentDocument: { exists: false }\n    };\n\n// Beide Writes in EINEM Commit = atomar (beides oder nichts)\nreturn [{\n  json: {\n    recipeId,\n    userId,\n    liked: !alreadyLiked,\n    writes: [likeWrite, counterWrite]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        96
      ],
      "id": "0b18df32-8671-46eb-9dae-deb5765b8ca1",
      "name": "Toggle-Commit bauen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://firestore.googleapis.com/v1/projects/code-a-cuisine-9c87f/databases/(default)/documents:commit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ writes: $json.writes }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        96
      ],
      "id": "e72e515c-b9e9-4ea6-959b-f453f8c54b87",
      "name": "Like toggeln (Firestore Commit)",
      "credentials": {
        "googleApi": {
          "id": "cdvoQV6M9dZLN3MF",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  recipeId: $('Toggle-Commit bauen').first().json.recipeId,\n  liked: $('Toggle-Commit bauen').first().json.liked,\n  likes: Number($json.writeResults[1].transformResults[0].integerValue)\n}) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "3ac88290-6d6d-4e87-8f90-ed43cbaed895",
      "name": "Erfolgs-Ausgang"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Rezept nicht gefunden oder Like-Status hat sich zwischenzeitlich geaendert' }) }}",
        "options": {
          "responseCode": 409,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        192
      ],
      "id": "5107fb52-7f02-40ee-b34b-041a0d3a7121",
      "name": "Error-Ausgang"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Like validieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Like validieren": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Like-Status lesen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Like-Status lesen": {
      "main": [
        [
          {
            "node": "Toggle-Commit bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle-Commit bauen": {
      "main": [
        [
          {
            "node": "Like toggeln (Firestore Commit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Like toggeln (Firestore Commit)": {
      "main": [
        [
          {
            "node": "Erfolgs-Ausgang",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error-Ausgang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "errorWorkflow": "6lRfmxI5r30AU9ly"
  },
  "versionId": "e074681c-97b4-4de0-a886-ebd45924c874",
  "meta": {
    "instanceId": "3e40def7fc85a5d9511cb2d48d14f2abc51334becff0ff239b4f61dca479cf16"
  },
  "nodeGroups": [],
  "id": "7ct3XrmQwjLARBOI",
  "tags": []
}
